.header-custom {
    background-color: #052e16; /* Xanh rﾃｪu ﾄ黛ｺｭm */
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-top: 40px;   /* tﾄハg chi盻「 cao phﾃｭa trﾃｪn */
    padding-bottom: 40px; /* tﾄハg chi盻「 cao phﾃｭa dﾆｰ盻嬖 */
    padding-left: 30px;
    padding-right: 30px;
}

.logo-section h3 {
    font-weight: bold;
    margin-bottom: 0;
}

.logo-section .slogan {
    font-size: 0.9rem;
    color: #cfcfcf;
}

.search-form input[type="search"] {
    border-radius: 20px;
    padding-left: 15px;
    min-width: 450px; /* 汨 tﾄハg chi盻「 dﾃi */
}

.search-form button {
    border-radius: 20px;
    padding: 6px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #449d44;
}

.nav-links {
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-links .nav-link {
    margin-left: 20px;
    font-weight: bold;
    color: #d1fae5;
    font-weight: 500;
}

.nav-links .nav-link:hover {
    text-decoration: underline;
}

.dropdown-menu {
    background-color: #f8f9fa;
}

.dropdown-menu a {
    color: #333;
}

.dropdown-menu a:hover {
    background-color: #e2e6ea;
}

.text-warning {
    font-weight: bold;
}
